.mr-7{
    margin-right: 7px;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.sort-icon{
    text-align:right;
    vertical-align:middle;
    color:#D5DBDB;
    padding-left:6px;
}

/* Panel Lateral borde rojo */
.plateral {
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 2px 15px 2px 15px;
  border-left: 5px solid #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.plateral.plateral-danger {
  border-color: #c23321;
  background-color:#FDFEFE;
}

.plateral h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  text-align:left;
  color:#525252
}
/* FIN Panel Lateral borde rojo */

.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

.grupo-descubierto{
  color:#FF6347;
}
.grupo-no-iniciado{
  color:#558B2F;
}
.grupo-cubierto-tarde{
  color:#AD1457;
}
.grupo-cubierto{
  color:#34495E;
}
.grupo-cerrado{
  color:#34495E;
}
.grupo-cierre-anticipado{
  color:#AD1457;
}
.grupo-cubriendose{
  color:#3498DB;
}
.grupo-no-cerrado{
  color:#76448A;
}
