
.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding:2px;
    text-align:center;
}

.ml-7 {
  margin-left:7px;
}

.conf {
  margin:7px;
}

.text-color {
  color:
}

.foto-centrada {
  margin: auto;
}
