<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Control de Horas
      <small>Version 1.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/layouts/home"><i class="fa fa-calendar"></i> Home</a></li>
      <li class="active">Control de Horas</li>
      <li class="active">Control de Asistencia</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">

        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Control de Asistencia</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Elegir un periodo</a></li>
                  <li><a href="#">Cambiar Servicio</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Configuracion</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>

          <div class="box-body">

           <div class="container-fluid my-3">

             <div class="row display-flex">

               <div class="col-md-12" id="col-opciones" >

                 <div class="panel panel-primary colConfig" id="panelOpciones" >

                   <div class="panel-heading">
                     <h3 class="panel-title">Opciones</h3>
                   </div>
                   <br/>

                   <form [formGroup]="form">

                     <div class="row conf">

                       <div class="form-group col-sm-4 col-md-4 col-lg-3">
                         <label for="selectClientes">Cliente</label>
                         <select class="form-control"  name="selectClientes" id="selectClientes2" onchange="listadoObjetivosAsistencia()">
                           <option value="0" selected>Seleccione un Cliente</option>
                         </select>
                       </div>
                       <div class="form-group col-sm-4 col-md-4 col-lg-3">
                         <label for="selectObjetivos">Objetivo</label>
                         <select class="form-control" name="selectObjetivos" id="selectObjetivos2">
                           <option value="0" selected>Seleccione un Objetivo</option>
                         </select>
                       </div>
                       <div class="form-group col-sm-2 col-md-2 col-lg-2">
                         <label for="datetimepicker3">Hora Desde</label>
                         <div class="input-group date" id="datetimepicker1">
                             <input type="text" class="form-control" value="00:00"/>
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-time"></span>
                             </span>
                         </div>
                       </div>
                       <div class="form-group col-sm-2 col-md-2 col-lg-2">
                         <label for="datetimepicker4">Hora Hasta</label>
                         <div class="input-group date" id="datetimepicker2">
                             <input type="text" class="form-control" value="23:00"/>
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-time"></span>
                             </span>
                         </div>
                       </div>

                     </div>

                   </form>

                   <div class="box-footer">
                    <div class="conf">
                       <button type="button" id="btnSample1" class="btn btn-success" name="btncargarAsistencia" value="ingreso" onclick="cargarPuestosAsistencia(this)">Control de Ingresos</button>
                       <button type="button" class="btn btn-danger ml-7" name="btncargarAsistencia" value="egreso" onclick="cargarPuestosAsistencia(this)">Control de Egresos</button>
                    </div>
                   </div>
                   <br/>
                 </div>

               </div>

               <div class="col-md-3" id="col-referencias" style="display:none">

                 <div class="panel panel-primary colConfig" id="panelReferencias">

                   <div class="panel-heading">
                    <h3 class="panel-title">Referencias</h3>
                   </div>

                   <div class="row conf">

                       <div id="visualizar-ingreso" class="ml-7" style="display:none">
                         <h6 style="color:#ABB2B9;">Control de Ingresos</h6>
                        <div class="checkbox">
                          <label style="color:#000000;"><input type="checkbox" name="checkbox-ingreso" id="ingreso-cubierto"  onchange="visualizarIngresoCubierto()" checked>Cubierto</label>
                        </div>
                        <div class="checkbox">
                          <label style="color:#558B2F;"><input type="checkbox" name="checkbox-ingreso" id="ingreso-no-iniciado" onchange="visualizarIngresoNoIniciado()" checked>No iniciado</label>
                        </div>
                        <div class="checkbox">
                          <label style="color:#AD1457;"><input type="checkbox" name="checkbox-ingreso" id="ingreso-cubierto-tarde"  onchange="visualizarIngresoCubiertoTarde()" checked>Cubierto Tarde</label>
                        </div>
                        <div class="checkbox">
                          <label style="color:#FF6347;"><input type="checkbox" name="checkbox-ingreso" id="ingreso-descubierto" onchange="visualizarIngresoDescubierto()" checked>Descubierto</label>
                        </div>
                       </div>
                       <div id="visualizar-egreso" class="ml-7" style="display:none">
                         <h6 style="color:#ABB2B9;" >Control de Egresos</h6>
                         <div class="checkbox">
                           <label style="color:#000000;"><input type="checkbox" name="checkbox-egreso" id="egreso-cerrado"  onchange="visualizarEgresoCerrado()" checked>Cerrado</label>
                         </div>
                         <div class="checkbox">
                           <label style="color:#558B2F;"><input type="checkbox" name="checkbox-egreso" id="egreso-no-iniciado" onchange="visualizarEgresoNoIniciado()" checked>No iniciado</label>
                         </div>
                         <div class="checkbox">
                           <label style="color:#AD1457;"><input type="checkbox" name="checkbox-egreso" id="egreso-cierre-anticipado" onchange="visualizarEgresoCierreAnticipado()" checked>Cierre Anticipado</label>
                         </div>
                         <div class="checkbox">
                           <label style="color:#3498DB;"><input type="checkbox" name="checkbox-egreso" id="egreso-cubriendose" onchange="visualizarEgresoCubriendose()" checked>Cubriendose</label>
                         </div>
                         <div class="checkbox">
                           <label style="color:#76448A;"><input type="checkbox" name="checkbox-egreso" id="egreso-no-cerrado" onchange="visualizarEgresoNoCerrado()" checked>No Cerrado</label>
                         </div>
                         <div class="checkbox">
                           <label style="color:#FF6347;"><input type="checkbox" name="checkbox-egreso" id="egreso-descubierto" onchange="visualizarEgresoDescubierto()" checked>Descubierto</label>
                         </div>
                       </div>

                   </div>

                 </div>

               </div>

             </div>

               <div class="panel panel-primary" id="panelResultado" style="display:none">
                 <div class="panel-heading">
                   <h3 class="panel-title">Resultado
                   </h3>
                 </div>

                 <h3 style="text-align:center; color:#ABB2B9;; margin-bottom:13px;" id="titulo-control"></h3>

                 <div class="row conf">
                   <div  class="table-responsive">
                     <table name="miTabla2" id="miTabla2" class="table table-condensed table-striped table-bordered table-hover rwd_auto text-nowrap">
                     </table>
                   </div>
                 </div>

                 <br/>
               </div>

            </div>

          </div>

          <div class="box-footer">
            <div class="row">
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-footer -->
          <div class="loader loader-default" data-text="Cargando..." data-blink id="loader-state">
               <!-- <i class="fas fa-cog fa-spin"></i> -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal Validar Formulario -->
<div id="select-validate" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Seleccionar</h4>
            </div>

            <div class="modal-body">
                <p>Debe seleccionar un Cliente / Objetivo</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
