
.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding:2px;
    text-align:center;
}

.ml-7 {
  margin-left:7px;
}

.conf {
  margin:7px;
}

.foto-centrada {
  margin: auto;
}

.center-block {
    display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}

/* Codigo para igualar columnas de bootstrap */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.colConfig {
  height: 100%;
}
/* FIN - Codigo para igualar columnas de bootstrap */

.button-fix {
  width: 150px;
}

.modal-body-detalle {
  background-color: #85929E;
}

/* Icon Informe Detalle */
.fa-angle-double-down{
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.fa-angle-double-down.open{
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

/* Placeholder Personalizado */

.input-manual::-webkit-input-placeholder {
  color: #F1948A;
  font-size: 13px;
}
.input-manual::-moz-placeholder {
  color: #F1948A;
  font-size: 13px;
}
.input-manual:-ms-input-placeholder {
  color: #F1948A;
  font-size: 13px;
}
.input-manual::placeholder {
  color: #F1948A;
  font-size: 13px;
}
