
.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding:2px;
    text-align:center;
}

.ml-7 {
  margin-left:7px;
}

.conf {
  margin:7px;
}

.foto-centrada {
  margin: auto;
}

.button-fix {
  width: 120px;
}

.modal-body-detalle {
  background-color: #85929E;
}

.m-5{
  margin: 5px !important;
}

.m-10{
  margin: 10px !important;
}

/* Icon Informe Detalle */
.fa-angle-double-down{
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.fa-angle-double-down.open{
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.verificado{
  color:green;
}

.deshabilitado{
  color:red;
}
