<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <!-- Se deshabilito la identificacion del usuario registrado -->
        <!-- <p>{{identity.name}} {{identity.surname}}</p> -->
        <a href="#"><i class="far fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fas fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU PRINCIPAL</li>
      <li class="treeview">
        <a href="#">
          <i class="far fa-calendar-alt"></i><span class="ml-7">Control de Horas</span>
          <span class="pull-right-container">
            <i class="fas fa-angle-left pull-right"></i>
          </span>
        </a>
        <!-- <ul class="treeview-menu"> -->
        <ul class="treeview-menu">
          <li><a routerLink="/layouts/home"><i class="far fa-circle mr-7"></i>Cubrimiento de Objetivos</a></li>
          <li><a routerLink="/layouts/control"><i class="far fa-circle mr-7"></i>Control de Asistencia</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fas fa-cogs"></i><span class="ml-7">Configuracion</span>
          <span class="pull-right-container">
          <i class="fas fa-angle-left pull-right"></i>
          </span>
        </a>
        <!-- <ul class="treeview-menu"> -->
        <ul class="treeview-menu">
          <li><a routerLink="/layouts/setting" ><i class="far fa-circle mr-7"></i>Cobertura de Objetivos</a></li>
          <li><a routerLink="/layouts/client" ><i class="far fa-circle mr-7"></i>Clientes</a></li>
          <li><a routerLink="/layouts/branch" ><i class="far fa-circle mr-7"></i>Objetivos</a></li>
          <li><a routerLink="/layouts/staff" ><i class="far fa-circle mr-7"></i>Personal</a></li>
          <li><a routerLink="/layouts/device" ><i class="far fa-circle mr-7"></i>Dispositivos</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
